.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text {
    display: block;
    width: 100%;
    max-width: 220px;
    word-wrap: break-word;
    color: #ffffff;
    cursor: pointer;
}

.completed {
    composes: text;
    color: #4949a9;
    text-decoration: line-through;
}

.deleteButton {
    composes: createTodoButton from '../form-to-create/style.module.css';
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
}
